# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build files
Makefile
.qmake.stash
.moc
.objs
.rcc
.uic
.build
hynode
compile_wasm
compile_linux
ui_*
hynode.html
qtloader.js
qtlogo.svg
hynode.js_plugin_import.cpp
/build/vs2015/.vs/vs2015/v14/.suo
/build/vs2015/hyperborg/x64
/build/vs2015/x64/Debug
/build/vs2015/hyperborg/hynode.imi
/build/vs2015/vs2015.VC.db
/build/vs2015/vs2015.VC.VC.opendb
/build/vs2017/.vs
/build/vs2017/x64
/build/vs2019/hyperborg/.vs
/build/vs2019/hyperborg/x64
/build/vs2019/hyperborg/hynode.imi
/build/vs2019/hyperborg/enc_temp_folder/
version.h

/plugins/hhc_n8i8op/build/msvc2019/hhc_n8i8op/x64
/hynode*
/node/hynode.js_qml_plugin_import.cpp
x64*
