# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build files
Makefile
.qmake.stash
.moc
.objs
.rcc
.uic
.build
hynode
compile_wasm
compile_linux
ui_*
hynode.html
qtloader.js
qtlogo.svg
hynode.js_plugin_import.cpp